.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BoxList {
  margin-left: auto;
  margin-right: auto;
}
.LineChart {
  margin: 0 auto;
  padding-top: 0px;
}
.renderLineChart {
  padding-top: 10px;
}
.asinBox {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.asin {
  text-align: right;
}
.asin a:visited{
  color: red;
}
.pagination {
  margin-left: auto;
  margin-right: auto;
}